@import '../../../styles/customMediaQueries.css';

.root {
  composes: marketplaceModalFormRootStyles from global;

  justify-content: flex-start;

  @media (--viewportMedium) {
    justify-content: space-between;
  }
}

.name {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;

  @media (--viewportMedium) {
    margin-top: 32px;
  }
}

.firstNameRoot {
  width: calc(34% - 9px);
}

.lastNameRoot {
  width: calc(66% - 9px);
}

.password {
  composes: marketplaceModalPasswordMargins from global;
}

.bottomWrapper {
  composes: marketplaceModalBottomWrapper from global;
}


.radioContainer{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 20px;
  justify-content: left;
  font-size: 14px;
}
.formControl{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 20px;
  justify-content: left;
  font-size: 12px;
}
.radio{
  width: 20px;
  margin-right: 5px;
}
.radioSpace{
  margin-left: 10px;
  width: 5px;
}
